
    <div class="row"> 
        <div class="column col-md-7"> 
            <h1 class="pt-3">Détail du "Pc d'id:2</h1>
            <ul class="list-group">
                <li class="list-group-item"> <img [src]="materiel.photo" alt="photo"></li>
                <li class="list-group-item">Marque {{materiel.marque}}</li>
                <li class="list-group-item">Prix {{materiel.prix}}</li>
                <li class="list-group-item">Description {{materiel.description}}</li>
                <li class="list-group-item">Quantite {{materiel.quantite}}</li>
                <li class="list-group-item"><input type="checkbox" disabled [checked]="materiel.hautGamme">Haut de Gamme</li>
                <li class="list-group-item"><button class="btn btn-info">Afficher les commentaires</button></li>

            </ul>
        </div>
        <div class="column col-md-5"> 
            <h1 class="pt-3">List des commentaires</h1>
            <div class="row">a

            </div>
            <div class="row">b

            </div>
            <div class="row">c

            </div>
            
        </div>

</div>
